<app-nav></app-nav>

<div class="container">
  <app-slide></app-slide>
  <div class="map-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.397502123772!2d106.45645197194227!3d10.826994113947732!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310ad43c32d2c6c5%3A0x9f6ab25e415e77!2zNjEgxJBUODI1LCBUVC4gxJDhu6ljIEjDsmEsIMSQ4bupYyBIw7JhLCBMb25nIEFuLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1658738382661!5m2!1svi!2s"
      style="border: 0"
      class="map"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
<div style="height: 800px"></div>
