* {
  font-size: 2rem;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.navbar-dark {
  color: white !important;
}

.opacity {
  background-color: transparent;
  width: 70% !important;
  color: white;
}

.group-search {
  display: flex;
  justify-content: center;
}

.border-10 {
  border-radius: 10px;
}

.w-30 {
  width: 20%;
}
